.BgImage,
.BgOverlay,
.CaptionContainer {
  height: 100%;
  width: 100%;
}

.BgOverlay {
  position: absolute;
  background: $darkThemeColor;
}

.Caption {
  z-index: 2;

  &__Subtitle {
    font-size: 32px;

    @media (max-width: $md) {
      font-size: 25px;
    }
  }
}
