.BgImage,
.BgOverlay,
.CaptionContainer {
  height: 100%;
  width: 100%;
}

.BgOverlay {
  position: absolute;
  background: $darkThemeColor;
}

.Caption {
  z-index: 2;

  @media (max-width: $md) {
    &__Subtitle {
      font-size: 25px;
    }
  }
}
