// -- Page: src\pages\index.js --

.HomePage {
  .HeroSection {
    height: 100vh;
    @import "./HeroSection";
  }

  .CallToAction {
    background: $lightThemeColor;

    @media (max-width: 768px) {
      &__Title {
        font-size: 25px;
      }
    }
  }
}
