// -- Page: src\pages\success.js --

.SuccessPage {
  height: 100vh;
  background: $lightThemeColor;

  &__Image {
    border: solid $themeColor 5px;
    border-radius: 50%;
  }

  @media (max-width: $md) {
    &__Image {
      width: 200px;
    }
  }
}
