.CardDetails {
  padding: 32px 18px;
  margin-bottom: 40px;
  &__Title {
    margin-bottom: 36px;
  }

  .CardElementContainer {
    padding: 8px;
    &__Error {
      padding-left: 8px;
    }
  }
}

.PaymentDetails {
  background: $themeColor;
  padding: 12px 0;
  font-weight: 600;
  margin-bottom: 40px;

  .TotalPrice {
    padding: 36px;
    border-bottom: 4px dotted white;
    &__Title {
      opacity: 0.8;
    }
    &__BigNumber,
    &__SmallNumber {
      font-weight: 700;
      letter-spacing: 3px;
    }

    &__SmallNumber {
      line-height: 58px;
      opacity: 0.8;

      @media (max-width: $md) {
        line-height: 42px;
      }
    }

    &__Currency {
      opacity: 0.8;
      letter-spacing: 1px;
      font-size: 90%;
    }
  }

  .PaymentInfo {
    padding: 0 36px;
  }

  .PaymentInfoColumn {
    &__Title {
      opacity: 0.8;
      font-size: 19px;
    }
    margin: 36px 0;
  }
}
