.CardDetails {
  padding: 32px 18px;
  margin-bottom: 40px;
  &__Title {
    margin-bottom: 36px;
  }
}

.InputContainer,
.InputContainerTight {
  height: 40px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.InputContainerTight {
  @media (min-width: $md) {
    width: 32%;
  }
}

label {
  color: grey;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: 0.2s;
}

input {
  height: 100%;
  width: 100%;
  border: none !important;
  border-bottom: 2px solid lightgrey !important;

  &:focus,
  &:valid {
    & ~ label {
      transform: translateY(-20px);
      font-size: 18px;
    }

    & ~ .InputLine::before {
      transform: scaleX(1);
    }
  }
}

.InputLine {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: none;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $themeColor;
    position: absolute;
    transform: scaleX(0);
    transition: 0.2s;
  }
}

.PaymentDetails {
  background: $themeColor;
  padding: 12px 0;
  font-weight: 600;
  margin-bottom: 40px;

  .TotalPrice {
    padding: 36px;
    border-bottom: 4px dotted white;
    &__Title {
      opacity: 0.8;
    }
    &__BigNumber,
    &__SmallNumber {
      font-weight: 700;
      letter-spacing: 3px;
    }

    &__SmallNumber {
      line-height: 58px;
      opacity: 0.8;

      @media (max-width: $md) {
        line-height: 42px;
      }
    }

    &__Currency {
      opacity: 0.8;
      letter-spacing: 1px;
      font-size: 90%;
    }
  }

  .PaymentInfo {
    padding: 0 36px;
  }

  .PaymentInfoColumn {
    &__Title {
      opacity: 0.8;
      font-size: 19px;
    }
    margin: 36px 0;
  }
}
