// -- This file contains all Bootstrap class rewrites --

//general
.btn,
select,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
  transition: 0.2s;
}

main {
  flex-grow: 1;
}

// positioning
.all-center,
.all-center-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.all-center-column {
  flex-direction: column;
}

// form fields
.form-group {
  margin-bottom: 2rem !important;
  @media (max-width: $md) {
    margin-bottom: 1.5rem !important;
  }
}

input,
textarea {
  font-size: 20px !important;
  border: solid 1px lightgrey !important;
  &:focus {
    border: solid 2px $themeColor !important;
    border-bottom: solid 4px $themeColor !important;
  }

  @media (max-width: $md) {
    font-size: 18px !important;
  }
}

select {
  font-size: 19px !important;
  border: solid 1px lightgrey !important;
  cursor: pointer;
  &:hover {
    border: solid 1px $themeColor !important;
  }

  @media (max-width: $md) {
    font-size: 17px !important;
  }
}

// buttons
.btn {
  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.8;
  }
}

.btn-primary {
  background: $ctaColor !important;
  color: black !important;
  border: $ctaColor !important;
  &:hover {
    opacity: 0.8;
  }
}
.btn-secondary {
  background: $themeColor !important;
  color: white !important;
  border: $themeColor !important;
  &:hover {
    opacity: 0.8;
  }
}
.btn-outline-secondary {
  border: $themeColor solid 1px !important;
  color: $themeColor !important;
  &:hover {
    background: $themeColor !important;
    color: white !important;
  }
}
.btn-lg {
  padding: 10px 30px !important;
  font-size: 21px !important;
}
.btn-md {
  padding: 8px 16px !important;
  font-size: 18px !important;
}

//typography
h1 {
  font-size: 60px !important;
}
h2 {
  font-size: 45px !important;
}
h3 {
  font-size: 35px !important;
}
p {
  font-size: 23px !important;
}

@media (max-width: $md) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 35px !important;
  }
  h3 {
    font-size: 28px !important;
  }
  p {
    font-size: 20px !important;
  }
}

// modals
.modal-header,
.modal-footer {
  border: none !important;
}
.modal-dialog {
  height: 100% !important;
  margin: 0 0.5rem !important;
  padding: 0.5rem 0 !important;
  max-height: 100% !important;
  overflow-y: initial !important;

  @media (min-width: $sm) {
    margin: 0 auto !important;
    padding: 1.75rem 0 !important;
    max-width: initial !important;
    width: fit-content !important;
    min-width: 500px !important;
  }
}
.modal-content {
  max-height: 100% !important;
}
.modal-body {
  padding-top: 0 !important;
  overflow-y: auto !important;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $lightColor;
  }
  &::-webkit-scrollbar-thumb {
    background: $darkThemeColor;
    &:hover {
      background: $themeColor;
    }
  }

  @media (max-width: $md) {
    padding: 0.5rem !important;
    padding-top: 0 !important;
  }
}
