// -- This file contains all Bootstrap class rewrites --

//general
.btn,
select,
input,
textarea {
  outline: none !important;
  box-shadow: none !important;
  transition: 0.2s;
}

// positioning
.all-center,
.all-center-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.all-center-column {
  flex-direction: column;
}

// form fields
.form-group {
  margin-bottom: 2rem !important;
  @media (max-width: $md) {
    margin-bottom: 1.5rem !important;
  }
}

input,
textarea {
  font-size: 20px !important;
  border: solid 1px lightgrey !important;
  &:focus {
    border: solid 2px $themeColor !important;
    border-bottom: solid 4px $themeColor !important;
  }

  @media (max-width: $md) {
    font-size: 18px !important;
  }
}

select {
  font-size: 19px !important;
  border: solid 1px lightgrey !important;
  cursor: pointer;
  &:hover {
    border: solid 1px $themeColor !important;
  }

  @media (max-width: $md) {
    font-size: 17px !important;
  }
}

// buttons
.btn-primary {
  background: $ctaColor !important;
  color: black !important;
  border: $ctaColor !important;
  &:hover {
    opacity: 0.8;
  }
}
.btn-secondary {
  background: $themeColor !important;
  color: white !important;
  border: $themeColor !important;
  &:hover {
    opacity: 0.8;
  }
}
.btn-outline-secondary {
  border: $themeColor solid 1px !important;
  color: $themeColor !important;
  &:hover {
    background: $themeColor !important;
    color: white !important;
  }
}
.btn-lg {
  padding: 10px 30px !important;
  font-size: 21px !important;
}
.btn-md {
  padding: 8px 16px !important;
  font-size: 18px !important;
}

//typography
h1 {
  font-size: 60px !important;
}
h2 {
  font-size: 45px !important;
}
p {
  font-size: 23px !important;
}

@media (max-width: $md) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 35px !important;
  }
  p {
    font-size: 20px !important;
  }
}
