$themeColor: #ff66c4;
$lightThemeColor: rgba(255, 102, 196, 0.2);
$darkThemeColor: rgba(202, 85, 157, 0.7);
$ctaColor: #fff766;

.all-center,
.all-center-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.all-center-column {
  flex-direction: column;
}
