// -- This file is only SCSS style sheet that is being compiled --

@import "./01-variables";
@import "./02-rewrites";

// default
body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 21px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  @media (max-width: $md) {
    font-size: 18px;
  }
}

// typography
.heading {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
}

.mediumSize {
  font-size: 24px;
  @media (max-width: $md) {
    font-size: 20px;
  }
}

h1 {
  font-size: 60px;
  @media (max-width: $md) {
    font-size: 45px;
  }
}

h2 {
  font-size: 45px;
  @media (max-width: $md) {
    font-size: 35px;
  }
}

p {
  font-size: 23px;
  @media (max-width: $md) {
    font-size: 20px;
  }
}

// button
@media (max-width: $md) {
  .ActionButton {
    width: 100%;
  }
}

@import "../components/reusableStyles";
@import "./pages/HomeStyles/homeStyles";
@import "./pages/BlogsStyles/blogsStyles";
@import "./pages/ContactStyles/contactStyles";
