// -- This file is only SCSS style sheet that is being compiled --

@import "./01-variables";
@import "./02-rewrites";

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400 !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: "Amaranth", sans-serif !important;
}

.Footer {
  background: $lightThemeColor;
}

@import "./HomeStyles/homeStyles";
