.ContactPage {
  .SocialMedia {
    &__Title {
      @media (max-width: $lg) {
        text-align: center;
      }
    }

    &__Icon {
      @media (max-width: $md) {
        width: 50px;
      }
      @media (max-width: $sm) {
        width: 40px;
      }
    }
  }
  .ContactForm {
    width: 100%;
  }
}
