// -- This file contain all the styles for reusable components --

// -- Path: src\components\ReusableComponents\PageBanner.jsx --
.PageBanner {
  background: $lightThemeColor;
  &__Icon {
    @media (max-width: $md) {
      width: 70px;
    }
  }
}

// -- Path: src\components\ReusableComponents\Header.jsx --
.HeaderLogo {
  @media (max-width: $md) {
    width: 50px;
  }
}
.HeaderBrand {
  font-size: 34px;
  color: $themeColor;

  @media (max-width: $sm) {
    font-size: 30px;
  }
}

// -- Path: src\components\Layout.jsx --
.Footer {
  background: $lightThemeColor;
  font-size: 19px;

  @media (max-width: $sm) {
    font-size: 17px;
  }
}

// -- Path: src\components\ReusableComponents\Modal.jsx --
.Modal {
  display: none;
  background: rgba($color: #000000, $alpha: 0.5);

  &--show {
    display: block;
  }
}
