.ProductContainer {
  height: 300px;
  margin-bottom: 5.5rem;
}

.ProductImage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--list {
    width: 45%;

    @media (max-width: $md) {
      width: 100%;
    }
  }
}
