// -- Page: src\pages\shop.js --
.ShopPage {
  .ViewSwitcher {
    cursor: pointer;

    &__Text {
      color: rgba($color: #000000, $alpha: 0.3);
      text-align: center;
      font-size: 18px;
      &:hover {
        color: grey;
      }
    }

    &__Button {
      display: none;
      &:checked ~ span {
        color: rgba($color: #000000, $alpha: 0.8);
      }
    }
  }

  .ProductsSection {
    @import "./ProductsSection";
  }
}
